body {
    background-color: #D7CEC7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23c09f80' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%2376323f' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23b18b6e' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23723134' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23a2785c' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%236c302b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2394654c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23663022' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2385523d' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%235e311a' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2376402f' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23563113' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: Georgia, serif;
    color: #565656;
}

h2 {
    text-shadow: 0px 1px #292929;
}

img {
    outline: 5px solid #692d38;
    border-radius: 5%;
    outline-offset: -5px;
    margin-bottom: 10px;
}

button {
    background-color: #c09f80;
    color: #565656;
    border: 2px solid #76323f;
    border-radius: 10%;
    width: 75px;
}

button:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
    cursor: pointer;
}

input {
    margin-top: 10px;
    border-color: #76323f;
    border-style: solid;
}

input:focus-visible {
    outline: 1px solid #76323f;
}

#center-img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

#contact-id {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}




#row-title {
    margin: 5px;
    border-top: 3px dashed #462609;
    margin-top: 15px;
}

#row-item {
    width: 200px;
    display: inline-block;
    margin: 5px;
}